################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sea_battle/.vs/sea_battle/v16
/sea_battle/sea_battle/sea_battle.vcxproj.filters
/sea_battle/sea_battle/sea_battle.vcxproj.user
